[tool.poetry]
name = "tuneapi"
version = "0.2.5"
description = "Tune AI APIs."
authors = ["Frello Technology Private Limited <engineering@nimblebox.ai>"]
license = "Apache 2.0"
readme = "README.md"
repository = "https://github.com/NimbleBoxAI/tuneapi"

[tool.poetry.dependencies]
python = "^3.9,<3.12"
fire = "0.5.0"
requests = "^2.31.0"
cloudpickle = "3.0.0"
protobuf = "^4.25.3"
cryptography = ">=42.0.5"
tqdm = "^4.66.1"
boto3 = { version = "1.29.6", optional = true }

[tool.poetry.extras]
boto3 = ["boto3"]

[tool.poetry.group.dev.dependencies]
sphinx = "7.2.5"
sphinx_rtd_theme = "1.3.0"
poetry = "1.6.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
